.wrapper {
    width: 100%;
    height: 100%;
    padding: 1%;
    box-sizing: border-box;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.task_window {
    height: 100%;
    border-radius: 5px;
    overflow-y: hidden;
    background-color: white;
}

.task_window_header {
    height: 10%;
    padding: 0 1%;
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_information_task {
    color: gray;
}

.close {
    width: 30px;
    height: 30px;
    fill: gray;
}

.close_task {
    cursor: pointer;
}

.task_window_content {
    height: 90%;
    display: flex;
    flex-direction: row;
}

.task_window_content > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.task_window_content > div:first-of-type {
    width: 70%;
    padding: 1% 2% 4% 2%;
    box-sizing: border-box;
}

.task_window_content > div:first-of-type textarea {
    width: 100%;
    margin-top: 0.5rem;
}

.task_window_content > div:first-of-type textarea:not(.comment_input) {
    border: none;
    outline: none;
    padding: 0 1%;
    box-sizing: border-box;
}

.task_window_content > div:first-of-type > div {
    padding: 0 1%;
}

.next_steps {
    margin-left: 10rem;
}

.task_name {
    font-weight: 700;
    font-size: 1.2rem;
}

.task_comment {
    margin-top: 2.5rem;
    border-top: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 3;
}

.comment_input {
    height: 2.3rem;
    font-size: 1rem;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid silver;
}

.upload_file_and_accept {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.upload_icon {
    width: 18px;
    height: 18px;
    fill: gray;
}

.custom_file_upload {
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid silver;
    display: flex;
}

input[type="file"] {
    display: none;
}

.upload_win {
    width: 100%;
    margin: 0 1%;
    font-size: 0.8rem;
    border-radius: 10px;
    border: 2px dashed silver;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.active_upload_win {
    background-color: rgb(225, 225, 225);
}

.upload_win p {
    color: gray;
}

.accept_comment {
    color: white;
    cursor: pointer;
    padding: 1% 0.5%;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.task_window_content > div:last-of-type {
    width: 30%;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
}